<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Vitae</title>
    <meta name="AUTHOR" content="Bruno Rocha Toffoli" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      h3 {text-decoration: underline;}
      h3.subtopic {text-decoration: none; margin-left: 2em;}
      div.subtopic {margin-left: 4em;}
      div.description {margin-left: 1em;}
    </style>
  </head>
  <body>

    <h1>Curriculum Vitae</h1>
    <hr />
    <h2>Bruno Rocha Toffoli</h2>
    <div>Rua Professor Sarmento, Praia do suá</div>
    <div>Vitória, ES</div>
    <div>Brasil - 29.052-370</div>
    <div>Telefone: (27) 9238-7086</div>
    <div>E-mail: btoffoli@gmail.com, btoffoli@r7.com</div>

    <h3>Experiência Acadêmica</h3>
    <div class="subtopic">
      <div>Universidade Federal do Espírito Santo</div>
      <div>Graduação em Ciência da Computação, 2003-2010</div>
      <div>Projeto final de graduação: <em>FGV - Feira Genérica Virtual</em></div>
      <hr />
      <div>Curso Técnólogo em Metalurgia e Materiais - CEFETES (2000-2003)</div>
      <hr/>
      <div>Cursando pós-graduação em "Geoprocessamento de zonas rurais e urbanas"</div>
    </div>

    <h3>Formação Complementar</h3>
    <div class="subtopic">
      <div>Inglês: Escola American Way.</div>
      <div>Curso de Delphi : Escola de Informática Data Control</div>
      <div>Curso de WebMaster: Escola de Informática Data Point</div>
      <div>Montagem e Manuntenção de PC</div>
      <div>Curso de Java Básico: SENAC</div>
    </div>


    <h3>Publicações e participações em Eventos</h3>
    <div class="subtopic">
      <!--
      <div><a href="http://rubygems.org"></a> (2010)
        <ul>
          <li>Publicação <a href="http://rubygems.org/gems/rails-web-console"> 1 </a>.</li>
        </ul>
      </div>
      <div>Eventos:  
        <ul>
          <li><a href="http://rubyconf.com.br"><em>Evento1</em></a> (2010);</li>
        </ul>
      </div>-->
      ainda preenchendo...
    </div>

    <h3>Experiência Profissional</h3>
    <div class="subtopic">
      <div><a href="http://www.ifes.edu.br"  target="_blank">CEFETES – CENTRO FEDERAL TECNOLÓGICO DO ESPIRTO-SANTO</a></div>
      <div><p>Cargo: Labortatorista de analises químicas</p>

        <p>Período: (01/11/2003 – 01/03/2005)</p>
        <ul>
          <li>  
        Atividades desenvolvidas: Analises químicas para investigação da composição química de
          materiais de origem metálica (CST e Vale) e de origem cerâmica como cal usada para reparos
          nos fornos da BELGO.</li>
      </ul>

      </div>
      <hr>
        <div><a href="http://www.mogai.com.br" target="_blank"> MOGAI TECNOLOGIA DE INFORMAÇÃO</a></div>
        <div>
          <p>Cargo: Desenvolvedor</p>
          <p>Período: (06/07/2006 – 01/06/2008)</p>
          <p>Atividades desenvolvidas: Analise, manutenção e desenvolvimento de sistemas, tais como:</p>
          <ul>
          <li>Moinho (Ferramenta de Gerência e controle de projetos. Linguagem Delphi). Atuei 
            desenvolvendo novos módulos e fazendo a manutenção.</li>
          <li>MonDutos (Sistema Web de Monitoramento de Dutos da Petrobras, linguagem C#,
            tecnologia .Net da Microsoft). Atuei desenvolvendo novos módulos.</li>
          <li>SCP (Sistema de Controle de Petróleo da Petrobras, asp e .Net Microsoft, protótipo).
            Atuei desenvolvendo novos módulos em .Net.</li>
        </ul>
        </div>
        <hr>
        <div><a href="http://www.criativa.com.br" target="_blank">AGÊNCIA DE PROPAGANDA CRIATIVA</a></div>
        <div>
          <p>Cargo: Desenvolvedor</p>
          <p>Período: (05/06/2008 – 05/12/2009)</p>
          <p>Atividades desenvolvidas: Analise, manutenção e desenvolvimento de sistemas, tais como:</p>
          <ul>
            <li>
              Sistema de Gerência de Marketing Político, Sistema Web (JSP), linguagem Java. Atuei
              desenvolvendo novos módulos e fazendo a manutenção e migração para o banco de dados mysql.
            </li>
          </ul>
        </div>
        <hr>



        <div><a href="http://www.geocontrol.com.br" target="_blank">GEOCONTROL LTDA</a>, em andamento desde dezembro de 2009</div>
        <div>
          <p>Cargo: Desenvolvedor</p>
          <p>Atividades desenvolvidas: Analise, manutenção e desenvolvimento de sistemas, tais como:</p>
          <ul>
            <li>Desenvolvimento de aplicações web interativas em Grails relacionados a visualização de veículos rastreados em mapas online, principalmente;</li>
            <li>Revisão de código;</li>
            <li>Divulgação de metodologias ágeis para desenvolvimento de sistemas como Scrum, XP e automação de testes;</li>
            <li>Outras tarefas de infraestrutura e desenvolvimento, como deploy de aplicações em servidores</li>
          </ul>
        </div>

        <hr />


      </div>

    </body>
  </html>
