<!DOCTYPE html>
<html>
<head>
  <title>Curriculum Vitae</title>
  <meta name="AUTHOR" content="Rodrigo Rosenfeld Rosas" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    h3 {text-decoration: underline;}
    h3.subtopic {text-decoration: none; margin-left: 2em;}
    div.subtopic {margin-left: 4em;}
    div.description {margin-left: 1em;}
  </style>
</head>
<body>

<h1>Curriculum Vitae</h1>
<hr />
<h2>Rodrigo Rosenfeld Rosas</h2>
<div>Presidente Pedreira, 145, ed. Vicmar, ap. 602, Parque Moscoso</div>
<div>Vitória, ES</div>
<div>Brazil - 29018-025</div>
<div>Phone: (27) 3082-6309 / 8803-2664</div>
<div>rr_rosas@yahoo.com.br, rr.rosas@gmail.com</div>
<div><a href="http://rosenfeld.heroku.com">http://rosenfeld.heroku.com</a></div>

<h3>Education</h3>
<div class="subtopic">
  <div>Universidade Federal do Espírito Santo</div>
  <div>Master in Automation, 2004-2006</div>
  <div>Master Thesis: <em>A Real-Time Mobile Robotic Framework</em></div>
  <div><strong>Note:</strong> for validating the above thesis, I built a real-time frame-grabber kernel module for Linux, using the Xenomai real-time extension.</div>
  <hr />
  <div>Graduate in Electrical Engineering, 1999-2004</div>
  <div>Final graduate project: <em>A Galvanostat/Potentiostat Interactive with PC</em></div>
  <hr />
  <div>MEC National College Evaluation Exam, 2003</div>
  <div>Got maximum score: 100</div>
  <hr />
  <div>Scientific Initiatory Project: <em>Developing Strategies for Coordinating Multiple Mobile Robots for Moving Objects</em>, 2002-2004</div>
  <hr />
  <div>Scientific Initiatory Project: <em>A Virtual Lab for Teaching Electromagnetism</em>, 2001</div>
  <hr />
  <div>Electro-technical High Scool, 1995-1999</div>
</div>

<h3>Publishing and Event Participation</h3>
<div class="subtopic">
  <div><a href="http://rubygems.org">RubyGems</a> (2010)
    <ul>
      <li>Author of <a href="http://rubygems.org/gems/rails-web-console">rails-web-console</a> gem.</li>
    </ul>
  </div>
  <div><a href="http://railsmagazine.com">Rails Magazine</a> (2009)
    <ul>
      <li>Published the article <em>Generating PDF with ODF templates</em> on <a href="http://railsmagazine.com/issues/4">issue #4</a>.</li>
    </ul>
  </div>
  <div>Events:  
    <ul>
      <li><a href="http://rubyconf.com.br"><em>RubyConf Brasil</em></a> (2010);</li>
      <li><a href="http://www.mare-vix.com"><em>Maré de agilidade</em></a> (2010);</li>
      <li><a href="http://www.railssummit.com.br/"><em>Rails Summit Latin America</em></a> (2009);</li>
      <li><a href="http://www.conisli.org.br/">Congresso Internacional de Software Livre - CONISLI</a>, 2007, São Paulo.</li>
    </ul>
  </div>
</div>

<h3>Jobs</h3>
<div class="subtopic">
  <div><a href="http://www.geocontrol.com.br">Geocontrol</a>, (since 2009, April)</div>
  <div>Software Developer (languages: Javascript, Groovy (framework Grails) and Java):
    <ul>
      <li>GPS tracking and map based web system development;</li>
      <li>Deployed Git, Gitorious, Redmine, DHCP and DNS server on internal infrastructure;</li>
    </ul>
  </div>

  <hr />

  <div><a href="http://www.fapes.es.gov.br">Fundação de Apoio à Ciência e Tecnologia do Espírito Santo - FAPES</a>, 2007-2009</div>
  <div>TI consultant:
    <ul>
      <li>Web development with Ruby on Rails and maintenance of a legacy ASP web system;</li>
      <li>Responsible for TI infrastructure (servers deployment, firewall, backup, user management, security policy, contracts, help-desk, etc).</li>
    </ul>
  </div>

  <hr />

  <div>RBS Tecnologia da Informação, 2006-2007</div>
  <div>Software development for automated parking system with Delphi and Firebird.</div>

  <hr />

  <div><a href="http://www.metropolitanavix.com.br/">Instituição Metropolitana de Vitória</a>, 2006-2007</div>
  <div>Teaching Analogic Electronics classes in a Technical Electronics Course.</div>

  <hr />

  <div>Riberdiscap, 2004</div>
  <div>Development of Riberdiscap site (not a job, actually).</div>

  <hr />

  <div><a href="http://www.sindaees.com.br">Sindaees</a>, 2002</div>
  <div>Development of Sindaees site.</div>

  <hr />

  <div>Núcleo de Ciências - ProEx, UFES, 2000-2002</div>
  <div>Development of their site and other softwares for their projects and computer maintenance;</div>

  <hr />

  <div>RBS Tecnologia da Informação, 1999</div>
  <div>Computer maintenance.</div>
</div>

<h3 class="subtopic">Technical Experience</h3>
<div class="subtopic">
  <ul>
    <li>Strong experience with web 2.0 geolocation based applications (using the OpenLayers javascript library).</li>
    <li>Proficent gVim user.</li>
    <li>Programming languages: I had developed from ancient languages in the past such as Assembly, Fortran, C, C++, Perl and Clipper to newer ones such as Ruby, Groovy, Java, JRuby among others, being Ruby my favorite one.</li>
    <li>Web standards: HTML, XHTML, CSS, XML, RSS/Atom, WSDL/SOAP, WebSockets, Comet, JSON, YAML and REST web services.</li>
    <li>Other markup languages: ERB, HAML, Markdown, Textile.</li>
    <li>Frameworks and test automation tools: Rspec, test/unit, Selenium, Webrat, Capybara, Machinist, Faker, JUnit</li>
    <li>Operating Systems: Linux, Windows and real-time Linux with Xenomai patch.</li>
    <li>Web Frameworks: Ruby on Rails, Grails.</li>
    <li>DBMS: PostgreSQL, MySQL, MS SQL Server and Firebird.</li>
    <li>Network infrastructure knowledge: firewall, routing, SSH, SFTP, HTTP.</li>
    <li>Javascript Libraries: jQuery (strong skill) and Prototype.</li>
    <li>Version Control System: Git (strong skill), Subversion and CVS.</li>
    <li>Active <a href="http://www.google.com.br/search?q=%22Rodrigo+Rosenfeld+Rosas%22">participation</a> in open-source community with some contributions to big open-source projects such as Gitorious, Redmine and Rails.</li>
  </ul>
</div>

<h3>Personal Details</h3>
<div class="description">
  <div><strong>Rodrigo Rosenfeld Rosas</strong>, Brazilian, married, <%= ((DateTime.now - DateTime.new(1981, 6, 13))/365).to_i %> years old (13/06/1981).</div>
  <div><strong>Permanent</strong>: Presidente Pedreira, 145, ed. Vicmar, ap. 602,</div>
  <div>Parque Moscoso,</div>
  <div>Vitória - ES,</div>
  <div>Brazil - 29018-025</div>
  <div><strong>Phone:</strong> (27) 3082-6309 / 8803-2664</div>

  <div><strong>Languages: </strong>Portuguese, English, Spanish</div>
</div>

</body>
</html>
